<form [formGroup]="login" (ngSubmit)="connect()">
    <div class="form-area">
        <div class="row">
            <div class="col-lg-6">
                <input type="email" name="adress" id="adress" class="form-control" formControlName="adress" [ngClass]="{'is.invalid' : login.get('adress')?.touched && login.get('adress')?.dirty }" >
                <div class="warning" *ngIf="login.get('adress')?.touched && (login.get('adress')?.dirty || login.get('adress')?.invalid)">
                    <div class="alert alert-danger" *ngIf="login.get('adress')?.hasError('required')">Adresse email requise</div>
                    <div class="alert alert-danger" *ngIf="login.get('adress')?.hasError('pattern')">Adresse email incorrect</div>
                </div>
            </div>
            <div class="col-lg-6">
                <input type="password" name="pass" id="pass" class="form-control" formControlName="pass" [ngClass]="{'is.invalid' : login.get('pass')?.touched && login.get('pass')?.dirty }" >
                <div class="warning" *ngIf="login.get('pass')?.touched && (login.get('pass')?.dirty || login.get('pass')?.invalid)">
                    <div class="alert alert-danger" *ngIf="login.get('pass')?.hasError('required')">Mot de Passe requis</div>
                    <div class="alert alert-danger" *ngIf="login.get('pass')?.hasError('pattern')">Mot de Passe incorrect</div>
                </div>
            </div>
        </div>
        <p>Vous n'etes pas inscrit ? <a href="" [routerLink]="'/register'">Inscrivez-vous</a></p>
        <button type="submit" id="btnConnect" [disabled]="login.invalid">SE CONNECTER</button>
    </div>
</form>