* {
    box-sizing: border-box;
}

body {
    margin: auto;
    display: block;
}

// MIXIN & ROOT
@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
}

$firstColor: azure;
$secondColor: black;

// SHOW
#show {
    height: auto;
    .navbar {
        @include flex (row);
        .navbar-brand {
            .img-fluid {
                height: 120px;
                max-width: 300px;
            }
        }
        #btnBar {
            display: none;
        }
        .collapse {
            margin-right: 10px;
            @include flex (row);
            justify-content: end;
            .dropdown {
                list-style-type: none;
                justify-content: end;
                column-gap: 120px;
                @include flex (row);
                .dropdow-toggle {
                .dropdown-menu {
                    .dropdown-item {
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
            }
            .nav-item {
                .nav-link {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
            #btnConnect {
                padding: 2px;
                cursor: pointer;
                font-size: 1.1em;
                font-weight: bold;
                border-radius: 5px;
                background-color: transparent;
                border: 1px solid $secondColor;
            }
        }
            }
    }
    .show {
        .row {
            .col-lg-4 {
                .img-fluid {
                    height: 400px;
                    cursor: pointer;
                    max-width: 600px;
                }
            }
        }
        .listBtn {
            margin: 20px auto;
            display: block;
            text-align: center;
            max-width: 800px;
            justify-content: center;
            #btnSwitch {
                font-size: 1.1em;
                font-weight: bold;
                padding: 2px;
                border-radius: 2px;
                border: 1px solid black;
                background-color: transparent;
            }
        }
        .showPictures {
            .picture {
                .wallpaper {
                    margin: auto;
                    display: block;
                    text-align: center;
                    .img-fluid {
                        height: 300px;
                        max-width: 450px;
                        border-radius: 5px;
                        border: 0px solid $firstColor;
                    }
                }
            }
        }
    }
    .footer {
        .copy {
            text-align: center;
            font-size: 1.4em;
            font-weight: bold;
        }
    }
}