* {
    box-sizing: border-box;
}

body {
    margin: auto;
    display: block;
}

// MIXIN & ROOT
$firstColor: azure;
$secondColor: black;

@mixin flex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
}

#show {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/pict/cyberpunk2077Yellow.jpg');
    .navbar {
        padding: 1px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .navbar-brand {
            .img-fluid {
                height: 150px;
                max-width: 260px;
            }
        }
        #btnBar {
            display: none;
        }
        .collapse {
            margin-right: 20px;
            justify-content: end;
            .navbar-nav {
                column-gap: 80px;
                .nav-item {
                    .nav-link {
                        font-size: 1.2em;
                        font-weight: bold;
                        color: $secondColor;
                    }
                }
                .dropdown {
                    .dropdown-menu {
                        max-width: 100%;
                    }
                }
            }
            #btnConnect { 
                padding: 2px;
                cursor: pointer;
                margin-left: 60px;
                border-radius: 5px;
                border: 1px solid $secondColor;
            }
        }
    }
    .show {
        .row {
            text-align: center;
            .col-lg-4 {
                .img-fluid {
                    height: 350px;
                    cursor: pointer;
                    max-width: 650px;
                    border: 4px solid $secondColor;
                }
            }
        }
    }
    .footer {
        .copy {
            text-align: center;
        }
    }
}